// THEME BLUE

[data-theme-color='blue'] {
  --primary: #4682b4;
  --secondary: #800080;
  --bg-theme: #b8cad1;
  --color: #333;
  --accent: #c0392b;
  --error: #fa463b;
  --info: #00ffff;
  --btn-text: #4682b4;
  --btn-bg: #b8cad1;
  --btn-accent: #800080;
}
