// THEME FLORAL

[data-theme-color='floral'] {
  --primary: #9f535b;
  --secondary: #738397;
  --bg-theme: #e8d9d4;
  --color: #333;
  --accent: #e0255e;
  --error: #fa463b;
  --info: #00ffff;
  --btn-text: #9f535b;
  --btn-bg: #e8d9d4;
  --btn-accent: #738397;
}
