// THEME GREEN

[data-theme-color='green'] {
  --primary: #73a2a1;
  --secondary: #708090;
  --bg-theme: #d8dace;
  --color: #333;
  --accent: #fa463b;
  --error: #fa463b;
  --info: #00ffff;
  --btn-text: #73a2a1;
  --btn-bg: #d8dace;
  --btn-accent: #708090;
}
