// THEME GREY

[data-theme-color='grey'] {
  --primary: #fff;
  --secondary: #f2f2f2;
  --bg-theme: #777;
  --color: #f2f2f2;
  --accent: #e0255e;
  --error: #fa463b;
  --info: #00ffff;
  --btn-text: #f2f2f2;
  --btn-bg: #777;
  --btn-accent: #f2f2f2;
}
