// THEME LIGHT

[data-theme-color='light'] {
  --primary: #000;
  --secondary: #666;
  --bg-theme: #f2f2f2;
  --color: #333;
  --accent: #e0255e;
  --error: #fa463b;
  --info: #00ffff;
  --btn-text: #333;
  --btn-bg: #f2f2f2;
  --btn-accent: #333;
}
