// THEME YELLOW

[data-theme-color='yellow'] {
  --primary: #ffad1f;
  --secondary: #8791a2;
  --bg-theme: #f7f4e0;
  --color: #333;
  --accent: #e56c51;
  --error: #fa463b;
  --info: #00ffff;
  --btn-text: #ffad1f;
  --btn-bg: #f7f4e0;
  --btn-accent: #8791a2;
}
