// COLORS

$stroke-color: #808080;
$border-color: #808080;
$error: #ff0000;
$info: #00ffff;
$blue: #4682b4;
$yellow: #ffff00;
$red: #ff0000;
$green: #008000;
$primary: #000000;
$secondary: #808080;
$background: #f2f2f2;
$bg-theme: #f2f2f2;
$color: #000000;
$btn-text: #000000;
$btn-bg: #f2f2f2;
$btn-accent: #800080;

$th-styling: (
  'stroke-color': $stroke-color,
  'border-color': $border-color,
  'error': $error,
  'info': $info,
  'blue': $blue,
  'yellow': $yellow,
  'red': $red,
  'green': $green,
  'primary': $primary,
  'secondary': $secondary,
  'background': $background,
  'bg-theme': $bg-theme,
  'color': $color,
  'btn-text': $btn-text,
  'btn-bg': $btn-bg,
  'btn-accent': $btn-accent,
);

:root {
  @each $color, $value in $th-styling {
    --#{$color}: #{$value};
  }
}
