// BASE

header,
main {
  transition: font-size 0.25s ease-in, color 0.25s ease-in,
    background-color 0.25s ease-in;
}
.size {
  font-size: var(--size);
}
.background {
  background-color: var(--background);
}
.color {
  color: var(--color);
}
.color-primary {
  color: var(--color-primary);
}
