// TYPOGRAPHY

$fonts: (
  'font-size': (
    'prefix': 'fs',
    'values': (
      '1': $h1-font-size,
      '2': $h2-font-size,
      '3': $h3-font-size,
      '4': $h4-font-size,
      '5': $h5-font-size,
      '6': $h6-font-size,
    ),
  ),
  'font-weight': (
    'prefix': 'fw',
    'values': (
      'lighter': $font-weight-lighter,
      'light': $font-weight-light,
      'normal': $font-weight-normal,
      'bold': $font-weight-bold,
      'bolder': $font-weight-bolder,
    ),
  ),
  'letter-spacing': (
    'prefix': 'ls',
    'values': (
      'sm': $letter-spacing-base * 1.1,
      'md': $letter-spacing-base * 1.2,
      'lg': $letter-spacing-base * 1.3,
    ),
  ),
);
@each $property, $map in $fonts {
  $prefix: map-get($map, 'prefix');
  $values: map-get($map, 'values');
  @each $k, $v in $values {
    .#{$prefix}-#{$k} {
      #{$property}: $v;
    }
  }
}

// HEADINGS

// @for $i from 1 through 6 {
//   .h#{$i} {
//     font-family: $font-default;
//     font-weight: $font-weight-bold;
//   }
// }
// .h#{$k} {
//   #{$property}: $v;
//   font-family: $font-default;
//   font-weight: $font-weight-bold;
// }
// .h#{$k}-styled {
//   #{$property}: $v;
//   font-family: $font-styled;
//   font-weight: $font-weight-normal;
//   letter-spacing: $letter-spacing-base * 2;
// }

// .h1-stroke {
//   color: black;
//   -webkit-text-fill-color: steelblue;
//   -webkit-text-stroke-width: 0.3px;
//   -webkit-text-stroke-color: grey;
//   font-family: $font-styled;
// }
// .h2-shadow {
//   -webkit-text-stroke: 0.5px grey;
//   color: white;
//   text-shadow: 2px 2px 0 grey, -1px -1px 0 grey, 1px -1px 0 grey,
//     -1px 1px 0 grey, 1px 1px 0 #000;
//   font-family: $font-styled;
// }
